
@media screen and (max-width: 1210px) {
    .rightS{
        transform: translate(40px, 875px) !important;
    }

    .rightSText{
        position: absolute;
        left: 10px;
        top:800px;
    }


    .svg{
        height: 1500px !important;
        width: 600px !important;
    }

   #currentTheme {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;

    }

    #currentTheme p{
        width:80%
    }

    #currentTheme h1{
        width:80%
    }


    body{
        width: 100vw;
    }

}





